/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic #Abilities label {width:60%;}

#sign_up form.formtastic  {width: 260px;}
#sign_up form.formtastic ol li  {padding-right: 10px; margin-bottom: 5px; width: 340px;}
#sign_up form.formtastic ol label {width: 60%;}

#sign_up form.formtastic ol li input {max-width: none; display: block; width: 240px;padding: 5px; background: #fcf8e7; color: #444444; border: 1px  #444444 solid;}

#sign_up form.formtastic fieldset.buttons{ padding-left: 0px; margin-left: -5px;}

#sign_up form.formtastic .create {width: 100px;
 display: inline-block; border-radius: 3px; padding:5px;}

#sign_up form.formtastic ol li input.empty { color: #aaa89f;}