html, body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
	color: black;
  line-height: 18px;
	background: #FFFFFF;
	margin: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #290418; }
a:visited { color: #290418; }


h1 a{
	text-decoration: none;
}

.list {
	padding: 5px;
	margin: 5px auto;
	width: 450px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #EEEEEE;
}

.description{
	width: 60px;
}

#avatar{
	float: left;
	margin: 5px;
	border: 2px solid;
}

#sheet{
	padding: 10px;
}

.sheet_header {
	padding: 5px;
	margin: 5px auto;
	width: 300px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #EEEEEE;
	text-align: center;
}

#top_nav {
	margin: 0;
}

#top_nav li{
	display:inline-block;
	margin: 0 20px;
}


#sheet_header{
	background: black;
	color: white;
	padding: 5px;
	margin-bottom: 20px;
	
}

#sheet_header h2{
	background: black;
	margin: 0;
}

#sheet_header p{
	font-size: 8pt;
}

#sheet_header a{
	color: #eeeeee;
}

#header {
	background: #EEEEEE;
	margin: 0px;
	width: 100%;
	padding: 10px;
	
}

#content {
	width: 850px;
	border: 2px solid #aaaaaa;
  margin: 5px auto;
	min-height: 400px;
}


#skillz {
	line-height: 1.5em;
}

.profile{
	width: 300px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #EEEEEE;
	padding: 5px;
	margin: 5px auto;
}

.profile img{
	display: block;
	margin-left: auto;
	margin-right: auto
}

.profile h3{
	text-align: center;
}

.profile_list{
	padding: 5px;
	margin: 5px auto;
	width: 300px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #EEEEEE;
}


.character_label {
	font-size: 7px;
	border-top: 2pt solid;
	margin-left: 10pt;	
	line-height: 7px;
	
}

.section {
	border: 1px solid #aaaaaa;
	background: #DDDDDD;
	margin-top: 20px;
	width: 375px;
}

.right {
	float: right;
}

.details {
	font-size: 7px;
	line-height: 7px;
}

.stats {
	width: 100%;
}

.edit_stats{
	width: 45%;
	border: 2px solid black;
	line-height: 2em;
	padding: 10px;
}

.edit_stats label{
	font-weight:bold;
}

.ability_stuff{
	float:right;
	margin-right: 130px;
}

.tableSkill{
	background: #EEEEEE;

}

.tiny{
	font-size: 7px;
}

.box_header{
	color: white; background:black; padding: 10px;
}

.character_table
{

	padding: 2px; 
	margin-top:10px;
	border-spacing: 0px 1px;
	font-size: 10px;
}

.character_table td,.character_table th
{
	padding: 3px;
}



.hidden{
	display:none;
}


#character_wizard_nav {
	margin-bottom: -11px;
}

#character_wizard_nav ul{
padding: 0px;
text-align: center;
}

#character_wizard_nav li{
	display: inline-block;
	margin: 0 5px;
	width: 70px;
	font-size: 15px;
	background: #efefef;
	padding: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border:1px #aaaaaa solid;

}

.wizard {
	border: 2px #aaaaaa solid;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	width: 600px;
	margin: 10px auto;
}

#roll_dice {
	width: 150px;
	background:#99CDC9;
	height: 25px;
	font-size: 15px;
	border: 1px #efefef;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#dice {
	color: red;
	font-size: 10px;
}