html,body{
	background: #fcfae6;
	margin: 0px;
	height: 100%;
	font-family: "helvetica", sans-serif;
  font-size:   13px;
	color: black;
  line-height: 18px;
}

#wrap {
	min-height: 100%;
}

#main{
	overflow:auto;
	padding-bottom: 75px;
}

#blurbs{
	background:#fcfae6;
	margin: 0px;
}

.blurb{
	width: 230px;
	margin: 13px;
	border-radius: 10px;
	background: #e8e7d2;
	padding: 10px;
	border: 2px #d5d2ad solid;
}

.blurb h2{
	color: #8a2810;;
}

#content_box{
	background: #e8e7d2;
	margin-top:-5px;
	padding: 20px;
	border-bottom: 3px #d5d2ad solid;
}

#footer{
	color: #e8e7d2;
	background: #8a2810;
	height: 40px;
	margin-top: -100px;
	position: relative;
	clear:both;
	padding: 30px;
}


#footer-nav{
	margin: 0;
	float: right;
}

#footer-nav li{
	display:inline-block;
	margin: 0 20px;
}


#header{
	background: #444444;
	color: #e8e7d2;
	margin: 0px;
	padding: 10px;
	font-family: 'AleandWenchesBBRegular', sans-serif;
	
}

#header a{
	color: #e8e7d2;
	text-decoration: none;
	font-weight: normal;
}

#header_bottom{
	margin: 0px;
	height: 20px;
	background: #8a2810;
}

#intro{
	background: url(/images/dragon.jpg) ;
	background-repeat:no-repeat;
	top: 20px;
	width: 400px;
	height: 270px;
}

.nav{
	width: 900px;
	margin: 0 auto;
}

#sign_up{
	background: #444444;
	color: #fcfae6;
	padding: 10px;
	width: 250px;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	float: right;
	-moz-box-shadow: 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
}


#top_nav{
	float: right;
}

#welcome{
	background: #e8e7d2;
	height: 300px;
}

#welcome a{
color: #fcfae6;
}

#welcome h3 {
	color: #8a2810;
	padding-top: 100px;
}


.wizardList li{
	width: 250px;
	height: 35px;
	border: 1px solid;
}


/** Old Scaffold **/



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #290418; }
a:visited { color: #290418; }


h1 a{
	text-decoration: none;
}

.list {
	padding: 5px;
	margin: 5px auto;
	width: 450px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #EEEEEE;
}

.description{
	width: 60px;
}

#avatar{
	float: left;
	margin: 5px;
	border: 2px solid;
}

#sheet{
	padding: 10px;
}

.sheet_header {
	padding: 5px;
	margin: 5px auto;
	width: 300px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #EEEEEE;
	text-align: center;
}

#top_nav {
	margin: 0;
}

#top_nav li{
	display:inline-block;
	margin: 0 20px;
}

#top_nav li ul{
	display:none;
}

#sheet_header{
	background: black;
	color: white;
	padding: 5px;
	margin-bottom: 20px;
	
}

#sheet_header h2{
	background: black;
	margin: 0;
}

#sheet_header p{
	font-size: 8pt;
}

#sheet_header a{
	color: #eeeeee;
}


.content {
	width: 850px;
  margin: 5px auto;
	padding-bottom: 30px;

}


#skillz {
	line-height: 1.5em;
}

.profile{
	width: 300px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #EEEEEE;
	padding: 5px;
	margin: 5px auto;
}

.profile img{
	display: block;
	margin-left: auto;
	margin-right: auto
}

.profile h3{
	text-align: center;
}

.profile_list{
	padding: 5px;
	margin: 5px auto;
	width: 300px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #EEEEEE;
}


.character_label {
	font-size: 7px;
	border-top: 2pt solid;
	margin-left: 10pt;	
	line-height: 7px;
	
}

.section {
	border: 1px solid #aaaaaa;
	background: #DDDDDD;
	margin-top: 20px;
	width: 375px;
}

.right {
	float: right;
}

.details {
	font-size: 7px;
	line-height: 7px;
}

.stats {
	width: 100%;
}

.edit_stats{
	width: 45%;
	border: 2px solid black;
	line-height: 2em;
	padding: 10px;
}

.edit_stats label{
	font-weight:bold;
}

.ability_stuff{
	float:right;
	margin-right: 130px;
}

.tableSkill{
	background: #EEEEEE;

}

.tiny{
	font-size: 7px;
}

.box_header{
	color: white; background:black; padding: 10px;
}

.character_table
{

	padding: 2px; 
	margin-top:10px;
	border-spacing: 0px 1px;
	font-size: 10px;
}

.character_table td,.character_table th
{
	padding: 3px;
}

.wizard input{

}

.hidden{
	display:none;
}


#character_wizard_nav {
	margin-bottom: -11px;
}

#character_wizard_nav ul{
padding: 0px;
text-align: center;

}

#character_wizard_nav li{
	font-family: 'AleandWenchesBBRegular', sans-serif;
	display: inline-block;
	color:#ccc9a7;
	margin: 0 3px;
	width: 80px;
	font-size: 15px;
	background: #474747;
	padding: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border:1px #aaaaaa solid;
	cursor: pointer;

}

.wizard {
	background: #474747;
	border: 2px #ccc9a7 solid;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	width: 600px;
	margin: 10px auto;
}

.wizard_inner{
	background:#e8e7d3;
	padding:10px;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	
}

#roll_dice {
	width: 150px;
	background:#99CDC9;
	height: 25px;
	font-size: 15px;
	border: 1px #efefef;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#dice {
	color: red;
	font-size: 10px;
}