<div class="content">
<div class="content" style="width:300px; margin: 20px auto; height: 300px; padding: 80px">
<div id="sign_up">

<h2>Sign Up</h2>

<% semantic_form_for(@user) do |f| %>
	<%= render 'form', :f => f%>
	<script type="text/javascript">
		$('#user_username').defaultValue({'value': 'Username'});
		$('#user_email').defaultValue({'value': 'Email'});
		$('#user_password').defaultValue({'value': 'Password'});
		$('#user_password_confirmation').defaultValue({'value': 'Confirm Password'});

	</script>
<% end %>


</div>
</div>

</div>