<h2>RPG-a-lot!</h2>

<p>The app with a horrible name that needs to be fixed.  If you have any ideas, 
	tell Sarah, because RPG-a-lot just isn't catchy.  Maybe Character Horde, or iHorde, or
	A-Web-App-That-Does-DnD-Things?</p>
	
<h2> WHAT THIS APP WILL EVENTUALLY DO! </h2>

<p>Help you RULE THE WORLD</p>

<p>Er, not really. This app is D20 Character and Campaign management system.  But unlike
	other webapps, you don't need software that only works on a windows computer to make this 
	work.  You can use it anywhere, update your character at anytime, and all you need as TEH INTERWEBS</p>