<%=h javascript_include_tag 'Dnd3.5/character', 'Dnd3.5/ability', 'Dnd3.5/race', 'DnD3.5/klass', 'DnD3.5/saves', 'DnD3.5/skillz' %>

<div id="sheet_header">
<span class="right"><%= link_to  h(@character.name), @character %> </span>
<h2>Editing <%=h @character.name %></h2>

</div>
<div id="sheet">
<% semantic_form_for(@character) do |f| %>
    <%= render 'form', :f => f %>
<% end %>

<script type="text/javascript" charset="utf-8">
	var character  = new Character();
</script>

</div>