<h2>Login</h2>

<% semantic_form_for @user_session do |f| %>
  <% f.inputs do %>
    <%= f.input :username %>
    <%= f.input :password %>
	<% f.buttons do %>
	  <%= f.commit_button :label => 'Login' %>
	<% end %>
	<% end %>
<% end %>


